main {
  padding: 50px;
  padding-bottom: 10px;
}

/* NavBar */
.navbar {
  overflow: hidden;
  position: relative;
  width: calc(100% + 2px);
  margin-left: -1px;
}
.navbar-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
}
.navbar .ui.menu {
  display: block !important;
  margin-bottom: 1px !important;
  box-sizing: content-box;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box !important;
}
.navbar ul {
  padding-left: 0;
}
.navbar li.item {
  float: left;
}
li.item.active {
  padding-bottom: 15px !important;
}
.ui.menu:not(.vertical) .item {
  display: block !important;
  float: left !important;
}
.navbar li:hover {
  cursor: pointer;
}
.navbar:after {
  content: "";
  height: 10px;
  background-color: #fff;
  margin-top: -10px;
  position: absolute;
  width: 100%;
  border-right: 1px solid #d4d4d5;
  border-left: 1px solid #d4d4d5;
}

/* Search */
.ui.input.search {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px !important;
}
.ui.input.search input {
  display: block;
  width: 90% !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
  text-align: center !important;
}
button {
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 70px !important;
}

/* ImageList */
.image-frame {
  overflow-x: hidden;
}
.ui.attached.segment {
  border-top: none;
}
.ui.segment {
  border-top: none;
  margin: 20px;
  padding: 0.3em 0.5em;
}
.image-list {
  position: relative;
}
.image-list i {
  color: #999;
  position: absolute;
  top: 0;
  left: 10px;
}
.image-list ul {
  padding-left: 0px;
}
.image-list button {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.ui.attached.tabular.menu {
  width: fit-content;
}
.ui.attached.menu {
  width: fit-content !important;
}
.image-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}
.image-ul img {
  width: 250px;
}

@media only screen and (max-width: 768px) {
  main {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .image-ul {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  .image-ul img {
    width: 100%;
  }
}

/* Loader */
.loader-frame {
  border: 1px solid #d4d4d5;
  margin: 0 !important;
  margin-top: -11px !important;
}
.loader-frame .ui.loader {
  top: 25% !important;
}
