main {
  padding: 50px;
}

/* Search */
.search {
  margin-bottom: 30px;
}
.ui.input {
  display: block;
}
input {
  display: block;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}
button {
  display: block !important;
  margin: 0 auto !important;
}

/* ImageList */
.ui.attached.segment {
  border-top: none;
}
.ui.segment {
  border-top: none;
}
