main {
  padding: 50px;
  padding-bottom: 10px;
}

/* NavBar */
.navbar {
  overflow: hidden;
}
.navbar-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
}
.navbar .ui.menu {
  display: block !important;
  margin-bottom: 1px !important;
  box-sizing: content-box;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar ul {
  padding-left: 0;
}
.navbar li.item {
  float: left;
}
li.item.active {
  padding-bottom: 15px !important;
}
.ui.menu:not(.vertical) .item {
  display: block !important;
  float: left !important;
}
.navbar li:hover {
  cursor: pointer;
}

/* Search */
.search {
  margin-bottom: 30px;
}
.ui.input.search {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.ui.input.search input {
  display: block;
  width: 90% !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
  text-align: center !important;
}
button {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
}

/* ImageList */
.image-frame {
  overflow: auto;
  overflow-x: hidden;
}
.ui.attached.segment {
  border-top: none;
}
.ui.segment {
  border-top: none;
  margin: 20px;
  padding: 0.3em 0.5em;
}
.image-list {
  margin-top: -11px !important; /*TODO: need to calculate*/
}
.image-list i {
  color: #999;
  position: sticky;
  top: 0;
  left: 0;
}
.image-list ul {
  padding-left: 20px;
}
.image-list button {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.ui.attached.tabular.menu {
  width: fit-content;
}
.ui.attached.menu {
  width: fit-content !important;
}

/* Loader */
.loader-frame {
  border: 1px solid #d4d4d5;
  margin: 0 !important;
  margin-top: -11px !important;
}
.loader-frame .ui.loader {
  top: 25% !important;
}
